<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Supprimer cet événement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="flex justify-center mx-auto my-2 rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 mt-4">Supprimer l'événement</button>
</form>

			
