{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<section > <!--Nos événements-->
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
      <div class="flex items-center justify-between pb-10">
         <h2 class="text-2xl font-bold tracking-tight text-gray-900 "> Tous nos événements</h2>
      </div>

      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
        {% for event in events %}
            {% include 'event/_card.html.twig'%}
        {% else %}
                <p>Aucun événement trouvé<p>
         {% endfor %} 
      </div>
      <a href="{{ path('app_event_new') }}">Créer un événement</a>
  </div>
</section>
   
        {# {% for event in events %}
            {% include 'event/_card.html.twig'%}
            <a href="{{ path('app_event_show', {'id': event.id}) }}">Afficher</a>
            <a href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
        {% else %}
            <tr>
                <td colspan="10">Aucun événement trouvé</td>
            </tr>
        {% endfor %} #}
      

    
{% endblock %}
