{% extends 'base.html.twig' %}

{% block title %}New ArtistImage{% endblock %}

{% block body %}
    <h1>Create new ArtistImage</h1>

    {{ include('artist_image/_form.html.twig') }}

    <a href="{{ path('app_artist_image_index') }}">back to list</a>
{% endblock %}
