<form method="post" action="{{path('app_artist_delete_image', {'id':image.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="text-red-900 underline font-semibold">Supprimer</button>
</form>