	{{ form_start(form) }}
	<div class="flex justify-start ">
			<div >
				{{ form_widget(form.q, {'attr':
				 {'class': 'border p-2 rounded-md w-full focus:ring-2 focus:ring-teal-500 focus:outline-none'}}) }}
			</div>
			<div>
				{{ form_widget(form.category, {'attr':
				 {'class': 'border p-2 rounded-md mx-4 pr-10 focus:ring-2 focus:ring-teal-500 focus:outline-none'}}) }}
			</div>
            <div>
				<button type="submit" class="bg-teal-900 text-white px-4 py-2 rounded hover:bg-teal-500 ">Filtrer</button>
			</div>
	</div>
	{{ form_end(form) }}
