{% extends 'base.html.twig' %}

{% block title %}Créer une fiche Artiste{% endblock %}

{% block body %}
    <h1>Créer une fiche Artiste</h1>

    {{ include('artist/_form.html.twig') }}

    <a href="{{ path('app_artist_index') }}">Retour à la liste</a>
{% endblock %}
