{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
Nous sommes toujours à la recherche de nouveaux talents donc n’hésitez pas à nous parler de vous.
Pour participer à nos évènements, envoyez nous par mail à : artetcreationenpartage@gmail.com
-un texte expliquant qui vous êtes, ce que vous faites
-votre démarche artistiques
-quelques photos de vos créations
-un lien vers un site ou un réseau social ou nous pouvons voir votre travail
 
Nous contacter :
mail : artetcreationenpartage@gmail.com
tel : 0640166505 Françoise Gerlache, présidente de l’association


<div>
    <h1>Contact</h1>
    <div>
        Si vous voulez nous contacter pour des renseignements:
    </div>
    <div>
        inclure liens sociaux
    </div>
</div>
<div>
    <h1>Nous rejoindre</h1>
    <div>
        Si vous voulez faire partie des artistes pour la prochaine exposition, merci de lire 
        <a href="{{path ('app_apply')}}" title='Appel à candidature'>l'appel à candidature</a>
          puis de compléter ce formulaire : nous rejoindre (faire un formulaire qui sera envoyé en mail mais pas intégré dans base)
    </div>
    
</div>

{% endblock %}
