{% extends 'base.html.twig' %}

{% block title %}Appel à candidature{% endblock %}

{% block body %}
<h1>Appel à candidature</h1>
<div>
Bonjour à tous,
Appel à candidature pour la 2éme édition de Rencontre d’Artistes « Hors des Sentiers Battus ».
Au vu du succès de la première édition qui a eu lieu en septembre 2022, nous avons décidé de continuer l’aventure,  

Où :toujours à Barjac mais cette fois dans un Mas, le Mas des Broussonnetiers. Situé en pleine campagne et en même temps non loin du centre du village (3 min en voiture), l'endroit est propice pour y accueillir entre 20 et 30 artistes ; en partie à l'intérieur, mais aussi dans le jardin dont une partie est aménagé et recèle plein de petits endroits qui mettront l’art en valeur. L’'autre partie du domaine est encore sauvage (champs et présence de dolmens) et permettra aux œuvres de grandes dimensions de trouver une place de choix. Le tout s’étend sur une surface de 6000m2 qui permettront aux visiteurs de faire une belle balade à la rencontre de l’ART. Le Mas qui, normalement accueille des visiteurs en gîte, sera fermé pour l’occasion, ce qui nous permettra   bénéficier de tout l’espace. Ce choix est également motivé par le fait que nous pouvons y exposer pendant 2 jours.

Quand ? :
9 et 10 septembre 2023

Qui ? : Seront présents des artistes de différents horizons et différentes disciplines : artiste peintre, plasticien, photographe, sculpteur, céramiste d’art, poète  ...nous accueillerons également musiciens, chanteurs et peut être conteur qui animeront ces 2 jours….une belle rencontre entre créateurs en perspective !
Votre candidature sera examinée lors d’une réunion de l’association qui aura lieu fin mars. Vous recevrez donc un email début avril pour vous signifier la décision du conseil d’administration.
Comment ? : L'idée n'est pas d'organiser un marché, ni une exposition classique avec chacun son stand mais bien une rencontre conviviale entre artistes et avec le public. Pour se faire, nous  proposons que 2 ou 3 artistes partagent un même espace. Le but étant que chaque œuvre soit en communion avec le lieu, mais aussi en résonance avec les autres œuvres exposées, pour créer un parcours agréable « hors des sentiers battus » pour le public !!!..
Pour faciliter les choses, quand nous aurons sélectionné les différents artistes, l’association déterminera les « couples » ou « trio » d’artistes et leurs emplacements. Ce qui n’empêchera pas certaines œuvres de se balader ailleurs, si l’envie se fait sentir….à vous de créer...
Pour réaliser cela, nous vous proposons d’installer vos œuvres le vendredi 8 septembre.
Nous insistons sur la présentation de vos œuvres. Nous faisons appel, à votre sens artistique à tous…..pour créer un superbe parcours pour le public.
Si vous le désirez,Je vous transmettrai des photos du lieu.

Modalités pratiques :
Cette manifestation aura lieu les samedi et dimanche 9 et 10 septembre de 10h à 19h.
L’installation se fera le vendredi 8 septembre. Les œuvres devront être retirées le dimanche après 19h ou le lundi 11 septembre au plus tard.
Communication :  L’association mettra en place différents outils de communication : affiches,annonces radio, article journal midi libre, publications sur différents support internet, invitations personnelles, banderoles et flechage depuis le centre village... etc. À ce propos, des photos et présentation de chaque artistes participants sera publié dès la mi juillet sur la page facebook de l’évènement : « barjachorsdessentiersbattus ». Je vous demanderai donc de bien vouloir nous faire parvenir pour la fin du mois de juin, des photos de quelques unes de vos œuvres et un texte qui vous présente et donne envie au public de venir vous découvrir !
- oeuvres
Il n’y a pas de thématique à l’exposition mais une exigence de qualité et d’originalité.  
Si vous désirez « animer » l’événement par un atelier à destination du public ou sous une autre forme, n’hésitez pas à nous en parler !
-Frais :
Aucun pourcentage de vente ne sera demandé.
La participation aux frais est de 60 euro .
Des grilles, chaises et tables de jardins seront mises gratuitement à disposition des exposants sur demande préalable, et en fonction du nombre disponible sur place.

-Restauration :
Un foodtruck sera présent durant les 2 jours ainsi qu’une buvette pour les artistes et le public

Pour candidater :
Envoyez nous un texte expliquant votre démarche artistique
Des photos de vos réalisations
Liens éventuels vers site internet, facebook, instagram etc...

Françoise Gerlache est à votre disposition pour toutes questions ou demandes particulières. Vous pouvez me joindre par mail : artetcreationenpartage@gmail.com
par tel : 0640166505

Au plaisir de faire votre connaissance et de partager notre Art pour cette nouvelle édition
« Hors des Sentiers Battus »

</div>
<a href="{{path('app_contact')}}">Nous contacter</a>
{% endblock %}
