{% extends 'base.html.twig' %}

{% block title %}Appel à candidature
{% endblock %}

{% block body %}

	<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">

		<div class="flex items-center justify-between pb-10">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900 ">
				Appel à candidature</h2>
		</div>

		<div>
			<div>
				<p>Bonjour à tous,<br>
					Appel à candidature pour la 2éme édition de Rencontre d’Artistes « Hors des Sentiers Battus ».<br>
					Au vu du succès de la première édition qui a eu lieu en septembre 2022, nous avons décidé de continuer l’aventure.</p>
				<br>
				<p>
					<strong>Où ? :</strong>
					Toujours à Barjac mais cette fois dans un Mas, le Mas des Broussonnetiers. Situé en pleine campagne et en même temps non loin du centre du village (3 min en voiture), l'endroit est propice pour y accueillir entre 20 et 30 artistes ; en partie à l'intérieur, mais aussi dans le jardin dont une partie est aménagé et recèle plein de petits endroits qui mettront l’art en valeur. L’'autre partie du domaine est encore sauvage (champs et présence de dolmens) et permettra aux œuvres de grandes dimensions de trouver une place de choix. Le tout s’étend sur une surface de 6000m2 qui permettront aux visiteurs de faire une belle balade à la rencontre de l’ART. Le Mas qui, normalement accueille des visiteurs en gîte, sera fermé pour l’occasion, ce qui nous permettra   bénéficier de tout l’espace. Ce choix est également motivé par le fait que nous pouvons y exposer pendant 2 jours.</p>
				<br>
				<p>
					<strong>Quand ? :</strong>
					9 et 10 septembre 2023</p>
				<br>
				<p>
					<strong>Qui ? :</strong>
					Seront présents des artistes de différents horizons et différentes disciplines : artiste peintre, plasticien, photographe, sculpteur, céramiste d’art, poète  ...nous accueillerons également musiciens, chanteurs et peut être conteur qui animeront ces 2 jours….une belle rencontre entre créateurs en perspective !
					Votre candidature sera examinée lors d’une réunion de l’association qui aura lieu fin mars. Vous recevrez donc un email début avril pour vous signifier la décision du conseil d’administration.</p>
				<br>
				<p>
					<strong>Comment ? :</strong>
					L'idée n'est pas d'organiser un marché, ni une exposition classique avec chacun son stand mais bien une rencontre conviviale entre artistes et avec le public. Pour se faire, nous  proposons que 2 ou 3 artistes partagent un même espace. Le but étant que chaque œuvre soit en communion avec le lieu, mais aussi en résonance avec les autres œuvres exposées, pour créer un parcours agréable « hors des sentiers battus » pour le public !!!..
                    Pour faciliter les choses, quand nous aurons sélectionné les différents artistes, l’association déterminera les « couples » ou « trio » d’artistes et leurs emplacements. Ce qui n’empêchera pas certaines œuvres de se balader ailleurs, si l’envie se fait sentir….à vous de créer...
					Pour réaliser cela, nous vous proposons d’installer vos œuvres le vendredi 8 septembre.
					Nous insistons sur la présentation de vos œuvres. Nous faisons appel, à votre sens artistique à tous…..pour créer un superbe parcours pour le public.<br>
					Si vous le désirez,Je vous transmettrai des photos du lieu.</p>
				<br>
				<p>
					<strong>Modalités pratiques :</strong>
					Cette manifestation aura lieu les samedi et dimanche 9 et 10 septembre de 10h à 19h.
					L’installation se fera le vendredi 8 septembre. Les œuvres devront être retirées le dimanche après 19h ou le lundi 11 septembre au plus tard.</p>
				<br>
				<p>
					<strong>Communication :</strong>
					L’association mettra en place différents outils de communication : affiches,annonces radio, article journal midi libre, publications sur différents support internet, invitations personnelles, banderoles et flechage depuis le centre village... etc. À ce propos, des photos et présentation de chaque artistes participants sera publié dès la mi juillet sur la page facebook de l’évènement :
					<a href="https://www.facebook.com/Barjachorsdessentiersbattus/" target="blank" class="underline hover:text-teal-800">« barjachorsdessentiersbattus »</a>
					<br>
					Je vous demanderai donc de bien vouloir nous faire parvenir pour la fin du mois de juin, des photos de quelques unes de vos œuvres et un texte qui vous présente et donne envie au public de venir vous découvrir !</p>
				<br>
				<p>
					<strong>Oeuvres :</strong>
					Il n’y a pas de thématique à l’exposition mais une exigence de qualité et d’originalité.
					<br>
					Si vous désirez « animer » l’événement par un atelier à destination du public ou sous une autre forme, n’hésitez pas à nous en parler !</p>
				<br>
				<p>
					<strong>Frais :
					</strong>Aucun pourcentage de vente ne sera demandé.
					La participation aux frais est de 60 euro .
					Des grilles, chaises et tables de jardins seront mises gratuitement à disposition des exposants sur demande préalable, et en fonction du nombre disponible sur place.</p>
				<br>
				<p>
					<strong>Restauration :
					</strong>Un foodtruck sera présent durant les 2 jours ainsi qu’une buvette pour les artistes et le public</p>
			</div>
			<div class="pt-12">
				<div class="font-bold text-lg underline">Pour candidater :</div>
				<div>
					<ul class="list-disc space-y-2 pl-10 pt-2 pb-4">
						<li>Envoyez nous un texte expliquant votre démarche artistique</li>
						<li>Des photos de vos réalisations</li>
						<li>Liens éventuels vers site internet, facebook, instagram etc...</li>
					</ul>
					<div class="pt-6">
						Françoise Gerlache est à votre disposition pour toutes questions ou demandes particulières. Vous pouvez la joindre :
						<ul role="list" class="list-none space-y-2 pl-10 pt-2 pb-4">
							<li>Par email:
								<a href="mailto:artetcreationenpartage@gmail.com" class="underline hover:text-teal-800">
									artetcreationenpartage@gmail.com</a>
							</li>
							<li>Par tél : 0640166505</li>
						</ul>
					</div>
				</div>
			</div>
            <div class="py-12 text-2xl italic text-center">Au plaisir de faire votre connaissance et de partager notre Art pour cette nouvelle édition <br> « Hors des Sentiers Battus »</div>
		</div>
        <div class="p">
			<a href="{{ path('app_main') }}" class="underline hover:text-teal-600">Retour à l'accueil</a>
		</div>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
            <img src="{{ asset('assets/images/main_photo5.jpg') }}" alt="a propos" class=" h-96 object-cover object-center group-hover:opacity-75 rounded-lg ">
            <img src="{{ asset('assets/images/main_photo4.jpg') }}" alt="a propos" class=" h-96 object-cover object-center group-hover:opacity-75 rounded-lg ">
            <img src="{{ asset('assets/images/main_photo3.jpg') }}" alt="a propos" class=" h-96 object-cover object-center group-hover:opacity-75 rounded-lg">
	    </div>
	</div>
	


		

	


	
{% endblock %}
