<nav>
    <div>
        <a href="#">Logo Art et création</a>
        <a href="#">Accueil</a>
        <a href="#">A propos</a>
        <a href="{{path('app_event_index')}}">Evénements</a>
        <a href="{{path('app_artist_index')}}">Artistes</a>
        <a href="#">Contact</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Se connecter</a>
    </div>
</nav>